{% extends "base.html" %}
{% block title %} {{ ticker }} {% endblock %}
{% block content %}
<div class="container text-center">
        <h2>{{ meta.name }} {{ ticker }}</h2>
        <p>Description: {{ meta.description }}</p>
        <table class="table text-center">
            <tr><td>Price Open: {{ price.open }}</td></tr>
            <tr><td>Price Low: {{ price.low }}</td></tr>
            <tr><td>Price High: {{ price.high }}</td></tr>
            <tr><td>Price Close: {{ price.close }}</td></tr>
        </table>
</div>
{% endblock %}
